{% extends "./template.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="./views/css/style.css">{% endblock %}

{% block title %}Le scroll Infini{% endblock %}

{% block content %}
    <h1>Test sur le scroll infini</h1>
    <div class="container">
        <div class="grid">
        </div>
        <div class="watcher"><div class="loading">Chargement</div></div>
    </div>
    <div class="btn-up">Up</div>
{% endblock %}